body{
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.seat{
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 5px;
}
.row{
    display: flex;
}

.seat.selected{
    background-color: #f6eb6f;

}
.seat.reserved{
    background-color: #fff;
}
.seat:nth-of-type(2){
    margin-right: 20px;
}
.seat:nth-last-of-type(3){
    margin-right: 20px;
} 
.screen{
    background-color: #fff;
    height: 50px;
    width: 100% ;
    margin: 20px 0;
    box-shadow: 0 3px 8px rgba(255, 255, 255,0.7);
}
.movie-list{
    margin: 20px 0;

}
.info{
    background-color: rgba(0, 0, 0,0.2);
    padding: 5px;
    color: #777;
    display: flex;
}
.info li{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 10px;

}

p.text span{
    color: #f6eb6f;
}